extends layout
block content

    
            .col-sm-9
              table.table.table-hover
                tr
                  th Nombre
                  th Autor
                  th Tipo
                  th Likes
                tr#click_inicio(onclick="location='index.html'")
                  td 50 sombras de grey
                  td Lorca
                  td Novela
                  td  
            #pie
              .row
                .col-sm-12
                  hr