extends layoutpre

block content
 
      #contenido
        .row
          br
          br
          .col-sm-3
            img(src='llave-libro.jpg')
          .col-sm-9
            br
            br
            form.form-horizontal(method="post",action="login")
              .form-group
                label.col-sm-2.control-label(for='inputEmail3') Usuario
                .col-sm-10
                  input#inputEmail3.form-control(autofocus,type='text', name="username",placeholder='Nombre')
              .form-group
                label.col-sm-2.control-label(for='inputPassword3') Password
                .col-sm-10
                  input#inputPassword3.form-control(type='password', name="password",placeholder='Password')
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Sign in
              #red_social
                a(href='/auth/facebook')
                  img(src='fb.png', height='42', width='42', align='center')
                a(href='/auth/twitter')
                  img(src='twitter.png', height='42', width='42', align='center')
  
  
    include ./pie.jade