extends layout
block content
     
        .col-sm-9
            
            h1#titulo #{tit}
            
            
            h4#contenido #{cont}
            
            
            
            button.seguir.btn.btn-succes Seguir