extends layout3
        
block content

        
        .col-sm-9
            
            h1#titulo #{tit}
            
            
            h4#contenido #{cont}
            
            
            
            
    include ./pie.jade